.headerNavbar {
}
.headerNavbar__logo-link {
  display: none;
}
.headerNavbar__logo-image {
}
.headerNavbar__nav {
  display: flex;
}
.headerNavbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.headerNavbar__lists {
}
.headerNavbar__links {
}
.headerNavbar__links-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  font-family: "Nunito";
  color: #262D32;
}
.headerNavbar__links-text:hover {
  color: skyblue;
}
.headerNavbar__tel-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  font-family: "Nunito";
  color: #262D32;
  transition: 500ms ease all;
}
.headerNavbar__tel-link:hover {
  color: skyblue;
  transition: 500ms ease all;
}
.headerNavbar__span {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  font-family: "Nunito";
  color: skyblue;
}
.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}
.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}
.link::before {
  content: "";
}
.link--thebe {
  font-family: "Nunito";
}
.link--thebe::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}
.link--thebe:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 2, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
.link--thebe::after {
  content: "";
  top: calc(100% + 4px);
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}
.link--thebe:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
@media (max-width: 1160px) {
  .headerNavbar {
  }
  .headerNavbar__logo-link {
    display: none;
  }
  .headerNavbar__logo-image {
  }
  .headerNavbar__nav {
    display: flex;
  }
  .headerNavbar__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .headerNavbar__lists {
  }
  .headerNavbar__links {
  }
  .headerNavbar__links-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    font-family: "Nunito";
    color: #262D32;
  }
  .headerNavbar__tel-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    font-family: "Nunito";
    color: #262D32;
  }
  .headerNavbar__span {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    font-family: "Nunito";
    color: #485158;
  }
}
@media (max-width: 1023px) {
  .headerNavbar {
  }
  .headerNavbar__logo-link {
    display: flex;
  }
  .headerNavbar__logo-image {
  }
  .headerNavbar__nav {
    display: none;
  }
  .headerNavbar__list {
  }
  .headerNavbar__lists {
  }
  .headerNavbar__links {
  }
  .headerNavbar__links-text {
    font-family: "Nunito";
  }
  .headerNavbar__tel-link {
    font-family: "Nunito";
  }
  .headerNavbar__span {
    font-family: "Nunito";
  }
}
