.footer {
    background-image: url("../../assets/icons/notFound__background.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__container {
}
.footer__main-box {
}
.footer__hr {
}